*{
  box-sizing: border-box;

  &:before,
  &:after{
    box-sizing: border-box;
  }
}

html,
body{
  font-size: 16px;
  margin: 0;
}

img{
  display: block !important;
  width: 100vw !important;
  height: auto !important;
  max-height: 100vh !important;
  object-fit: contain;
}