.auxiliary{
  position: absolute;
  opacity: 0;
  width: $width;
  height: $height;
  column-width: $width;
  column-count: auto;
  column-fill: auto;
  column-gap: 0;

  .body{
    white-space: normal !important;

    /* Show boundaries of chapters*/
    box-shadow: inset 0 0 0 1px #000;

    //*{
    //  width: $width !important;
    //}

    //table *{
    //  word-break: break-all;
    //  width: auto !important;
    //}
  }
}