#htmlData{
  position: absolute;
  opacity: 0;
}

.auxiliary{
  position: absolute;
  opacity: 0;

  [data-chapter]{
    width: $width;
    height: $height;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    white-space: normal !important;

    //box-shadow: inset 0 0 0 1px #000;/* TEST: Show boundaries of chapters*/

    & > *{
      width: $width !important;
    }
  }
}