.controls{
  position: absolute;
  top: 100%;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.controls__prev{
  left: 0;
}

.controls__next{
  right: 0;
}

.count-pages{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}