body{
    margin: 0;
}

.ereader{
    position: relative;
    width: 320px;
    height: 480px;
    margin: 0 auto;
    border: 1px solid #000;
    box-sizing: content-box;
}

.view-wrap{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.view{
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    transition: left .3s;
}

.view .body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.view .body *{
    width: 320px;
}

.controls{
    position: absolute;
    top: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.controls__prev{
    left: 0;
}

.controls__next{
    right: 0;
}